@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  overflow-x: hidden;
  background: #181f2a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

section {
  padding: 3rem 9%;
}

.btn {
  background: linear-gradient(342deg, #339ecc 0%, #65e2d9 100%);
  padding: 1.5rem 5rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #fff;
  border-radius: 2.5rem;
}

.btn:hover {
  background: #65e2d9;
}

.header {
  padding: 0 9%;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar a {
  color: #fff;
  font-size: 1.7rem;
  margin-left: 5rem;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

.banner .content {
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.banner .content h1 {
  font-size: 4rem;
  text-transform: capitalize;
  color: #fff;
  line-height: 1.2;
}

.banner .content p {
  font-size: 1.5rem;
  line-height: 2;
  color: #fff;
  margin-bottom: 0;
  letter-spacing: 1;
  margin-top: 1rem;
}

.features .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(42rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(42rem, 1fr));
  gap: 1.5rem;
}

.features .box-container .box {
  padding: 4rem 0;
  text-align: center;
}

.features .box-container .box h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #fff;
  padding-top: 1rem;
}

.features .box-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #fff;
  margin-bottom: 0;
  padding: 1rem 10rem;
}

.productive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productive .image {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
}

.productive .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 55rem;
          flex: 1 1 55rem;
  margin-left: 2rem;
}

.productive .content h1 {
  font-size: 4rem;
  text-transform: capitalize;
  color: #fff;
}

.productive .content p {
  font-size: 1.5rem;
  line-height: 2;
  color: #fff;
  margin-bottom: 0;
  padding: 1rem 0;
}

.productive .content a {
  display: inline-block;
  font-size: 1.9rem;
  color: #65e2d9;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid #65e2d9;
}

.testomonial .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  position: relative;
}

.testomonial .box-container .dot img {
  position: absolute;
  top: -3.5rem;
  left: -1rem;
  z-index: -1;
}

.testomonial .box-container .box {
  padding: 2rem;
  font-size: 1.5rem;
  background: #202a3c;
  -webkit-box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.692);
          box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.692);
}

.testomonial .box-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #fff;
  margin-bottom: 0;
  color: #fff;
  margin-bottom: 1rem;
}

.testomonial .box-container .box .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.testomonial .box-container .box .user img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.testomonial .box-container .box .user h5 {
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

.testomonial .box-container .box .user span {
  font-size: 0.9rem;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

.newsletter .content {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
}

.newsletter .content h1 {
  font-size: 4rem;
  text-transform: capitalize;
  color: #fff;
  color: #fff;
  margin: 1rem 0;
}

.newsletter .content p {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #fff;
  margin: 1rem 0;
}

.newsletter .content form {
  margin-top: 2rem;
  background-color: #fff;
  border-radius: 5rem;
  padding: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.newsletter .content form .email {
  width: 100%;
  background: none;
  text-transform: none;
  font-size: 1.5rem;
  color: #339ecc;
  padding: 0 1.3rem;
}

.newsletter .content form .btn {
  margin-top: 0;
  border-radius: 5rem;
}

.footer {
  background: #0b1523;
  padding: 6rem 9%;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr (1fr)[4];
      grid-template-columns: 2fr repeat(4, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 0px;
}

.footer .box-container .box {
  font-size: 1.5rem;
  padding: 1.5rem 0;
}

.footer .box-container .box .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.5rem;
}

.footer .box-container .box .image img {
  width: 2rem;
  height: 2rem;
  margin-top: 1.5rem;
}

.footer .box-container .box .image p {
  font-size: 1.5rem;
  line-height: 2;
  color: #fff;
  margin-bottom: 0;
}

.footer .box-container .box a {
  display: block;
  color: #fff;
  padding: 1rem 0;
}

.footer .box-container .box a i {
  color: #fff;
  font-size: 1.5rem;
}

.footer .box-container .media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.footer .box-container .media i {
  color: #fff;
  padding-right: 0.5rem;
  font-size: 3rem;
}

@media (max-width: 1200px) {
  .header {
    padding: 2rem;
  }
  .header .navbar a {
    margin-left: 1.5rem;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 1024px) {
  .productive {
    margin: 2rem auto;
  }
  .productive .image img {
    width: 100%;
  }
  .productive .content h1 {
    font-size: 3rem;
    margin-top: 1rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
    scroll-padding-top: 7rem;
  }
  .header img {
    width: 15rem;
  }
  .banner {
    text-align: center;
    color: #fff;
  }
  .banner .content {
    padding: 2rem;
  }
  .banner .content .image img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .banner .content h1 {
    font-size: 2.5rem;
    text-transform: capitalize;
    color: #fff;
    line-height: 1.2;
  }
  .footer {
    background: #0b1523;
    padding: 6rem 9%;
  }
  .footer .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .productive {
    margin: 2rem auto;
  }
  .productive .image img {
    width: 100%;
  }
  .productive .content h1 {
    font-size: 3rem;
    margin-top: 1rem;
  }
  .features .box-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .features .box-container .box {
    padding: 2rem 0;
  }
  .features .box-container .box h3 {
    font-size: 2rem;
    text-transform: capitalize;
    color: #fff;
    padding-top: 1rem;
  }
  .features .box-container .box p {
    font-size: 1.5rem;
    line-height: 2;
    color: #fff;
    margin-bottom: 0;
    padding: 1rem 5rem;
  }
}
/*# sourceMappingURL=style.css.map */